.App {
  text-align: center;
}
.app__form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 94%;
  z-index: 1;
  background-color: #e9e9eb;
  margin: 20px;
}
.app_formControl{
  display: flex!important;
  flex-direction: row!important;
  /* justify-content: space-around!important; */
}
.app_input{
  flex: 1;
}

.app_iconButton{
  flex: 0;
  color: #3f51b5!important;
}